@model p41RecordViewModel

@{
    ViewData["Title"] = "Zakázka";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

<form id="form1" asp-controller="p41" asp-action="Record" method="POST">
    <h4>Stroj | MSZ</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-8 col-md-7">
            <input class="form-control" asp-for="Rec.p41Name" />
            <span asp-validation-for="Rec.p41Name" class="text-danger"></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p41Code" />
            <span asp-validation-for="Rec.p41Code" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Položka objednávky:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="p52OrderItem" asp-for="Rec.p52ID" selectedtext="Rec.p52Code"></mycombo>
        </div>

    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Středisko:</label>
        <div class="col-sm-5 col-md-4">
            <mycombo entity="p27MszUnit" view-flag="2" asp-for="Rec.p27ID" selectedtext="Rec.p27Name"></mycombo>
        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Aktuální stav:</label>
        <div class="col-sm-5 col-md-5">
            <mycombo entity="b02Status" view-flag="2" asp-for="Rec.b02ID" selectedtext="Rec.b02Name" param1="p26"></mycombo>
        </div>
    </div>

    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Kód skladu:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p41StockCode" />
            <span asp-validation-for="Rec.p41StockCode" class="text-danger"></span>
        </div>
       
    </div>

    <div class="form-row" style="margin-top:10px;">
        <textarea asp-for="Rec.p41Memo" class="form-control" style="height:150px;" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.p41Memo" class="text-danger"></span>
    </div>



</div>
</form>



@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")





