@model p13RecordViewModel

@{
    ViewData["Title"] = "TPV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    <h4>TPV</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-9 col-md-8">
                <input class="form-control" asp-for="Rec.p13Name" />
                <span asp-validation-for="Rec.p13Name" class="text-danger"></span>
            </div>
            <div class="col-sm-2 col-md-2">
                <input class="form-control" asp-for="Rec.p13Code" placeholder="Kód" />
                <span asp-validation-for="Rec.p13Code" class="text-danger"></span>
            </div>
        </div>
        

        <div class="form-row">
            <textarea asp-for="Rec.p13Memo" class="form-control" placeholder="Podrobný popis"></textarea>
        </div>




    </div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

