@inject BL.RunningApp _app
@inject BL.Factory _f

@{
    ViewData["Title"] = "O aplikaci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal_record_container">
    <h4>O aplikaci</h4>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@_app.AppName</span>


        </div>

    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Verze:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light">@_app.AppVersion</span>


        </div>

    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Autor:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light"><a href="mailto:pavla@elebro.cz">Rajmund Pavla</a></span>


        </div>

    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Vývoj:</label>
        <div class="col-sm-11 col-md-10">
            <span class="form-control bg-light"><a href="mailto:jiri.theimer@gmail.com">Jiří Theimer</a></span>


        </div>

    </div>

    <div class="form-row" style="margin-top:20px;">
        <label class="col-sm-1 col-md-2 col-form-label">Technická podpora:</label>
        <div class="col-sm-11 col-md-10">
            @if (_f.CurrentUser.j03LiveChatTimestamp == null)
            {
                <button class="btn btn-sm btn-secondary py-0 py-0" title="Zapnout LIVE CHAT-BOX" style="font-size:125%;" onclick="handle_smartsupp(1)">☊</button>
            }
            else
            {
                <button class="btn btn-sm btn-danger py-0 py-0" title="Vypnout LIVE CHAT-BOX" style="font-size:125%;" onclick="handle_smartsupp(2)">☊</button>
            }


        </div>

    </div>

</div>
