@model HomeViewModel
@inject BL.RunningApp _app

@{
    ViewData["Title"] = "Home Page";


}
@addTagHelper *, UI


<div class="jumbotron py-4">
    <h1 class="display-4">@_app.AppName <small>@_app.AppVersion</small></h1>
    
</div>
<div style="padding:20px;">
    <h4>Vítej, uživateli [<a href="/Home/MyProfile">@(User.Identity.Name)</a>]!</h4>
</div>








<script type="text/javascript">


    $(document).ready(function () {


    });






</script>