
@{
    ViewData["Title"] = "Odhlášení z aplikace";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Došlo k odhlášení uživatele</h2>

<a asp-action="UserLogin" asp-controller="Login">Přihlásit se</a>


