@model UI.Models.Privacy_vm

@{
    ViewData["Title"] = "Privacy Policy";
}



<h2>Nové j02ID: @ViewBag.pid</h2>




<div style="height:600px;">
    
    @Html.DisplayFor(m => m.grid1, "~/Views/Shared/MyGridView.cshtml")
</div>




