
@{
    ViewData["Title"] = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, UI



<div id="splitter_container" class="splitter-container-top2bottom">

    <div id="splitter_panel1" class="splitter-panel-top">
        <vc:the-grid entity="p21License" j72id="0"></vc:the-grid>
    </div>

    <div id="splitter_resizer" class="splitter-resizer-top2bottom">
    </div>

    <div id="splitter_panel2" class="splitter-panel-bottom">
        <button type="button" onclick="pokus1()">Otevři okno</button>
        <button type="button" onclick="pokus2()">Otevři okno2</button>
        <iframe id="fra_subgrid" name="fra_subgrid" frameborder="0" scrolling="no" width="100%" onload="$('#splitter_panel2').css('background','none');"></iframe>
    </div>
</div>


<div id="okno1" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:1000px;height:700px;">
            <div class="modal-header" style="cursor: move;">
                <strong>Header</strong>
            </div>
            <div class="modal-body">
                <h1>Body vole</h1>
            </div>
            <div class="modal-footer">
                <strong>footer</strong>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">
    
    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {
        //$(modal).css("width", _device.availWidth - 200);

        _splitter_init("1", "test2");
        var defHeight = "500";

        _splitter_resize_after_init("1", defHeight);



        tg_adjust_for_screen("splitter_panel1");


        

        


    });

    function pokus1() {

        _window_open("/p10/record",1);

    }
    function pokus2() {

        _window_open("/p28/record",2);

    }


    
</script>

