
@{
    ViewData["Title"] = "Test2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, UI



<div id="splitter_container" class="splitter-container-top2bottom">

    <div id="splitter_panel1" class="splitter-panel-top">
        <vc:the-grid entity="p28" j72id="0"></vc:the-grid>
    </div>

    <div id="splitter_resizer" class="splitter-resizer-top2bottom">
    </div>

    <div id="splitter_panel2" class="splitter-panel-bottom">
        <button type="button" onclick="pokus()">Otevři okno</button>
        <iframe id="fra_subgrid" name="fra_subgrid" frameborder="0" scrolling="no" width="100%" onload="$('#splitter_panel2').css('background','none');"></iframe>
    </div>
</div>


<div id="okno1" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:1000px;height:700px;">
            <div class="modal-header" style="cursor: move;">
                <strong>Header</strong>
            </div>
            <div class="modal-body">
                <h1>Body vole</h1>
            </div>
            <div class="modal-footer">
                <strong>footer</strong>
            </div>
        </div>
    </div>
</div>






<script type="text/javascript">
    var modal = document.getElementById("myModalContainer");

    $(document.body).css("overflow", "hidden");

    $(document).ready(function () {
        //$(modal).css("width", _device.availWidth - 200);

        _splitter_init("1", "test2");
        var defHeight = "500";

        _splitter_resize_after_init("1", defHeight);



        tg_adjust_for_screen("splitter_panel1");


        dragElement(document.getElementById("myModalContent"));


        $(document).on("click", function (e) {
            if (e.target == modal) {
                modal.style.display = "none";
            }
        });
        $(document).on("keydown", function (e) {
            if (e.keyCode == 27) {
                modal.style.display = "none";
            }
        });


    });

    function pokus() {

        x = ($(modal).width() - $("#myModalContent").width()) / 2;
        
        $("#myModalContent").css("left", x);

        modal.style.display = "block";

        //$("#okno1").modal("show");
        //$("#okno1").css("margin-right", "1900px");
    }



    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            /* if present, the header is where you move the DIV from:*/
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
            /* otherwise, move the DIV from anywhere inside the DIV:*/
            elmnt.onmousedown = dragMouseDown;
        }

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }
</script>

