@model HomeViewModel

@{
    ViewData["Title"] = "Test1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI

    <div style="height:40px;">
        test gridu
        <button type="button" id="cmdDestroyFilter">Filtr destroy</button>
    </div>
    

<vc:the-grid entity="p28" j72id="0"></vc:the-grid>

