@model p28RecordViewModel
@inject BL.Factory _f 

@{
    ViewData["Title"] = "Firma | Subjekt";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null) return;
}

<h4>Firma | Subjekt</h4>

@addTagHelper *, UI

@using (Html.BeginForm())
{

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")

    @Html.HiddenFor(m => m.Rec.pid)
<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">Název:</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control" asp-for="Rec.p28Name" />
            <span asp-validation-for="Rec.p28Name" class="text-danger"></span>
        </div>
        <div class="col-sm-2 col-md-2">
            <input class="form-control" asp-for="Rec.p28ShortName" placeholder="Zkrácený název" />
        </div>
        <div class="col-sm-1 col-md-1">
            <input class="form-control" asp-for="Rec.p28Code" placeholder="Kód" />
            <span asp-validation-for="Rec.p28Code" class="text-danger"></span>
        </div>
    </div>


    @if (_f.CurrentUser.j03EnvironmentFlag == 1)
    {
        <div class="form-row">
            <label class="col-sm-2 col-md-3 col-form-label">Typ subjektu:</label>
            <div class="col-sm-10 col-md-9">
                <select class="form-control" asp-for="Rec.p28TypeFlag">
                    <option value="0">Ostatní</option>
                    <option value="1">Držitel licence</option>

                </select>
            </div>
        </div>
    }




    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">IČ/DIČ:</label>
        <div class="col-sm-7 col-md-6">
            <input class="form-control" asp-for="Rec.p28RegID" placeholder="IČ" />
            <span asp-validation-for="Rec.p28RegID" class="text-danger"></span>
        </div>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28VatID" placeholder="DIČ" />
            <span asp-validation-for="Rec.p28VatID" class="text-danger"></span>
        </div>
    </div>
    <div class="card-header" style="padding:1px;">Primární adresa</div>
    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">Město:</label>
        <div class="col-sm-10 col-md-9">
            <input class="form-control" asp-for="Rec.p28City1" />
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">Ulice:</label>
        <div class="col-sm-10 col-md-9">
            <input class="form-control" asp-for="Rec.p28Street1" />
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label"></label>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28PostCode1" placeholder="PSČ" />
            <span asp-validation-for="Rec.p28PostCode1" class="text-danger"></span>
        </div>
        <div class="col-sm-7 col-md-6">
            <myautocomplete asp-for="Rec.p28Country1" o15flag="328" placeholder="Stát"></myautocomplete>
        </div>
    </div>
    <div class="card-header" style="padding:1px;">Poštovní adresa</div>
    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">Město:</label>
        <div class="col-sm-10 col-md-9">
            <input class="form-control" asp-for="Rec.p28City2" />
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label">Ulice:</label>
        <div class="col-sm-10 col-md-9">
            <input class="form-control" asp-for="Rec.p28Street2" />
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-2 col-md-3 col-form-label"></label>
        <div class="col-sm-3 col-md-3">
            <input class="form-control" asp-for="Rec.p28PostCode2" placeholder="PSČ" />
            <span asp-validation-for="Rec.p28PostCode2" class="text-danger"></span>
        </div>
        <div class="col-sm-7 col-md-6">
            <myautocomplete asp-for="Rec.p28Country2" o15flag="328" placeholder="Stát"></myautocomplete>
        </div>
    </div>

</div>

}


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


