@model b02RecordViewModel

@{
    ViewData["Title"] = "Workflow stav";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    <h2>Workflow stav</h2>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.b02Name" />
            <span asp-validation-for="Rec.b02Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Kód:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.b02Code" />
            <span asp-validation-for="Rec.b02Code" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Entita:</label>
        <div class="col-sm-11 col-md-10">
            <select asp-for="Rec.b02Entity" class="form-control">
                <option value=""></option>
                <option value="p21">Licence</option>
                <option value="p26">Stroj | MSZ</option>
                <option value="p10">Master produkt</option>
            </select>
            <span asp-validation-for="Rec.b02Entity" class="text-danger"></span>
        </div>
    </div>

    


</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

