@model b02RecordViewModel

@{
    ViewData["Title"] = "Workflow stav";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}



@using (Html.BeginForm())
{
    <h4>Workflow stav</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    @addTagHelper *, UI

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Startovací stav:</label>
            <div class="col-sm-1 col-md-1">
                <select asp-for="Rec.b02StartFlag" class="form-control">
                    <option value="0">Ne</option>
                    <option value="1">ANO - pro nový záznam</option>

                </select>
            </div>
            <label class="col-sm-3 col-md-4 col-form-label">Kdo posouvá záznam z tohoto stavu do další stavu:</label>
            <div class="col-sm-2 col-md-2">
                <select asp-for="Rec.b02MoveFlag" class="form-control">
                    <option value="1">Uživatel (ručně)</option>
                    <option value="2">Systém</option>


                </select>
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b02Name" />
                <span asp-validation-for="Rec.b02Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Kód:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b02Code" />
                <span asp-validation-for="Rec.b02Code" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Barva:</label>
            <div class="col-sm-1 col-md-1">
                <input type="color" asp-for="Rec.b02Color" />
            </div>
            <div class="col-sm-2 col-md-3">
                <i>Černá = žádná barva!</i>
            </div>
        </div>


        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Index pořadí:</label>
            <div class="col-sm-11 col-md-10">
                <mynumber asp-for="Rec.b02Ordinary" decimal-digits="0"></mynumber>
            </div>
        </div>

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Vazba:</label>
            <div class="col-sm-11 col-md-10">
                <select asp-for="Rec.b02Entity" class="form-control">
                    <option value=""></option>
                    <option value="p21">Licence</option>
                    <option value="p26">Skupina zařízení (MSZ)</option>
                    <option value="p10">Master produkt</option>
                    <option value="o23">Dokument</option>
                    <option value="p51">Objednávka</option>
                    <option value="p41">Zakázka</option>
                </select>
                <span asp-validation-for="Rec.b02Entity" class="text-danger"></span>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                SQL podmínka, která nahodí záznam do tohoto stavu...
            </div>
            <div class="card-body">
                <textarea asp-for="Rec.b02MoveBySql" class="form-control" placeholder="SQL syntaxe"></textarea>
            </div>
        </div>
        <div class="form-row">
            <textarea asp-for="Rec.b02Memo" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.b02Memo" class="text-danger"></span>
        </div>




    </div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

