@model p15RecordViewModel

@{
    ViewData["Title"] = "Technologická operace";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null || Model.RecP12 == null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="p15" asp-action="Record" method="POST">
    <h4>Technologická operace Klientské receptury</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <input type="hidden" asp-for="Rec.p12ID" />

    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo řádku (row-num):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p15RowNum" decimal-digits="0"></mynumber>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo operace (oper-num):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p15OperNum" decimal-digits="0"></mynumber>

            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Kód operace (oper-code):</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p18OperCode" asp-for="Rec.p18ID" selectedtext="Rec.OperCodePlusName" param1="1" masterprefix="p25" masterpid="@Model.RecP12.p25ID" event_after_changevalue="p18id_change"></mycombo>
            </div>
        </div>
     
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Parameter (oper-par):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p15OperParam" decimal-digits="1"></mynumber>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Surovina:</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p19Material" asp-for="Rec.p19ID" selectedtext="Rec.Material"></mycombo>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Množství na 1kg produktu:</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p15UnitsCount" decimal-digits="6"></mynumber>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Před Oper. Čas:</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p15DurationPreOper" decimal-digits="0"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Oper. Čas (jednotkový):</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p15DurationOper" decimal-digits="3"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Po Oper. Čas:</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p15DurationPostOper" decimal-digits="0"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>
    </div>

</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function p18id_change(p18id) {

        $.post("/p13/load_p18_record", { p18id: p18id }, function (data) {

            
            var s = "";
            s = data.p18UnitsCount.toString().replace(".", ",");
            $("#Rec_p15UnitsCount").val(s);
            $("[for-id=Rec_p15UnitsCount]").val(s);

            s = data.p18DurationPreOper.toString().replace(".", ",");
            $("#Rec_p15DurationPreOper").val(s);
            $("[for-id=Rec_p15DurationPreOper]").val(s);

            s = data.p18DurationOper.toString().replace(".", ",");
            $("#Rec_p15DurationOper").val(s);
            $("[for-id=Rec_p15DurationOper]").val(s);

            s = data.p18DurationPostOper.toString().replace(".", ",");
            $("#Rec_p15DurationPostOper").val(s);
            $("[for-id=Rec_p15DurationPostOper]").val(s);

            $("#cmdComboRec_p19ID").text(data.p19Code + " - " + data.p19Name);
            $("#Rec_p19ID").val(data.p19ID);
            $("[data-id=text_Rec_p19ID]").val(data.p19Code + " - " + data.p19Name);

        });
    }
</script>




