@using Microsoft.AspNetCore.Identity





    <ul class="navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Helpdesk</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="MyProfile" asp-controller="Home" title="Můj profil">@User.Identity.Name</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="Logout" asp-controller="Home">Odhlásit se</a>
               
            </li>
        }
        else
        {
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-action="UserLogin" asp-controller="Login">Přihlásit se</a>
            </li>
        }
    </ul>
