
<li>
    <span id="mainmenu_caret_p10" class="nav-link caret">PRODUKTY [Master]</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p10">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p10">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p13" class="nav-link caret">RECEPTURY [Master]</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p13">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p13">Grid 1</a>
        </li>
        <li>
            <a data-menu="p19" class="nav-link" href="/TheGrid/MasterView?prefix=p19">Suroviny</a>
        </li>
    </ul>
</li>
<li>
    <span id="mainmenu_caret_p21" class="nav-link caret">LICENCE</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p21">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p21">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p26" class="nav-link caret">ZAŘÍZENÍ</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p26">Skupiny Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p26">Skupiny Grid 1</a>
        </li>
        <li>
            <a data-menu="p31timeline" class="nav-link" href="/p31/p31Timeline">Časové fondy</a>
        </li>
        <li>
            <a data-menu="p27" class="nav-link" href="/TheGrid/FlatView?prefix=p27">Zařízení</a>
        </li>

    </ul>
</li>
<li>
    <span id="mainmenu_caret_p28" class="nav-link caret">KLIENTI</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p28">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p28">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_o23" class="nav-link caret">DOKUMENTY</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=o23">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=o23">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_j02" class="nav-link caret">LIDÉ</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=j02">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=j02">Grid 1</a>
        </li>
        <li>
            <a data-menu="who_is_online" class="nav-link" href="/j02/WhoIsOnline">Kdo je právě online?</a>
        </li>
    </ul>
</li>
<li>
    <span id="mainmenu_caret_other" class="nav-link caret">OSTATNÍ</span>
    <ul class="collapsed">
        <li>
            <a data-menu="p18" class="nav-link" href="/TheGrid/FlatView?prefix=p18">Kódy operací</a>
        </li>
        
        <li>
            <a data-menu="p20" class="nav-link" href="/TheGrid/FlatView?prefix=p20">Měrné jednotky</a>
        </li>
        <li>
            <a data-menu="p25" class="nav-link" href="/TheGrid/FlatView?prefix=p25">Typy zařízení</a>
        </li>

        <li>
            <a data-menu="b02" class="nav-link" href="/TheGrid/FlatView?prefix=b02">Workflow stavy</a>
        </li>

        <li>
            <a data-menu="o51" class="nav-link" href="/TheGrid/FlatView?prefix=o51">Položky kategorií</a>
        </li>
        <li>
            <a data-menu="o53" class="nav-link" href="/TheGrid/FlatView?prefix=o53">Kategorie</a>
        </li>
        <li>
            <a data-menu="p31" class="nav-link" href="/TheGrid/FlatView?prefix=p31">Číselník kapacitních fondů</a>
        </li>
        <li>
            <a data-menu="j40" class="nav-link" href="/TheGrid/FlatView?prefix=j40">Poštovní účty</a>
        </li>
        <li>
            <a data-menu="j04" class="nav-link" href="/TheGrid/FlatView?prefix=j04">Aplikační role</a>
        </li>
        <li>
            <a data-menu="x40" class="nav-link" href="/TheGrid/FlatView?prefix=x40">Outbox</a>
        </li>
        <li>
            <a data-menu="j92" class="nav-link" href="/TheGrid/FlatView?prefix=j92">PING Log</a>
        </li>
        <li>
            <a data-menu="j90" class="nav-link" href="/TheGrid/FlatView?prefix=j90">LOGIN Log</a>
        </li>

    </ul>
</li>