<li>
    <span id="mainmenu_caret_p51" class="nav-link caret">OBJEDNÁVKY</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p51">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p51">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p41" class="nav-link caret">Výrobní ZAKÁZKY</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p41">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p41">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p11" class="nav-link caret">PRODUKTY [Klient]</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p11">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p11">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p12" class="nav-link caret">RECEPTURY [Klient]</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p12">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p12">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p21" class="nav-link caret">LICENCE</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p21">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p21">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_p26" class="nav-link caret">STROJE</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p26">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p26">Grid 1</a>
        </li>
        <li>
            <a data-menu="p31timeline" class="nav-link" href="/p31/p31Timeline">Kapacitní fondy</a>
        </li>
        <li>
            <a data-menu="p27" class="nav-link" href="/TheGrid/FlatView?prefix=p27">Střediska</a>
        </li>

    </ul>
</li>
<li>
    <span id="mainmenu_caret_p28" class="nav-link caret">KLIENTI</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=p28">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=p28">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_o23" class="nav-link caret">DOKUMENTY</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=o23">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=o23">Grid 1</a>
        </li>


    </ul>
</li>
<li>
    <span id="mainmenu_caret_j02" class="nav-link caret">LIDÉ</span>
    <ul class="collapsed">
        <li>
            <a data-menu="grid11" class="nav-link" href="/TheGrid/MasterView?prefix=j02">Grid 1+1</a>
        </li>
        <li>
            <a data-menu="grid1" class="nav-link" href="/TheGrid/FlatView?prefix=j02">Grid 1</a>
        </li>


    </ul>
</li>

<li>
    <span id="mainmenu_caret_other" class="nav-link caret">OSTATNÍ</span>
    <ul class="collapsed">


        <li>
            <a data-menu="p19" class="nav-link" href="/TheGrid/FlatView?prefix=p19">Suroviny</a>
        </li>
        <li>
            <a data-menu="p31" class="nav-link" href="/TheGrid/FlatView?prefix=p31">Číselník kapacitních fondů</a>
        </li>

    </ul>
</li>