@model MyDateViewModel
@{
   
    var _clientID = Html.IdFor(m => m.StringValue);
   
}
<div class="input-group" style="width: 100%;">
    <input type="text" placeholder="dd.mm.yyyy"  asp-for="@Model.StringValue" autocomplete="off" class="form-control" />

    <div class="input-group-append">
        <button id="@(_clientID)cmd" class="btn btn-outline-secondary px-1 py-0" type="button" tabindex="-1" style="font-size:14px;">&#128197;</button>
    </div>
    
</div>

<script type="text/javascript">



    $(document).ready(function () {
       
       $("#@_clientID").datepicker({
        format: "dd.mm.yyyy",
        todayBtn: "linked",
        clearBtn: true,
        language: "cs",
        todayHighlight: true,

        autoclose: true
    });
    $("#@(_clientID)cmd").click(function () {
        $("#@_clientID").focus();

    });

    });


</script>


