@model BO.BaseBO

@if (Model.pid>0)
{
    <hr />
    <div>
        <small>Záznam založen:</small>
        <small class="text-info">@Model.UserInsert @Model.DateInsert.ToLocalTime()</small>
        

        @if (Model.DateUpdate > Model.DateInsert || 1==1)
        {
            <small style="margin-left:20px;">Poslední aktualizace:</small>
            <small class="text-info">@Model.UserUpdate @Model.DateUpdate.ToLocalTime()</small>
            
        }
    </div>
}
