@model BO.p26Msz
@{
    if (Model == null) return;
}

<div class="form-row">
    <label class="col-sm-1 col-md-2 col-form-label">Skupina zařízení (MSZ):</label>
    <div class="col-sm-8 col-md-7">
        <span class="form-control bg-light">@(Model.p26Name+" ["+ Model.p26Code+"]")</span>

    </div>
    
</div>
