@model BO.p27MszUnit
@{
    if (Model == null) return;
}

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Zařízení:</label>
        <div class="col-sm-8 col-md-7">
            <span class="form-control bg-light">@(Model.p27Name+" ["+ Model.p27Code+"]")</span>

        </div>
        <label class="col-sm-1 col-md-1 col-form-label">Kapacita KG:</label>
        <div class="col-sm-2 col-md-2">
            <span class="form-control bg-light">@(Model.p27Capacity)</span>

        </div>
    </div>
