@model BO.p52OrderItem
@{
    if (Model == null) return;
}

<div class="form-row">
    <label class="col-sm-1 col-md-2 col-form-label">Produkt:</label>
    <div class="col-sm-6 col-md-6">
        <span class="form-control bg-light">@(Model.p11Name + " [" + Model.p11Code + "]")</span>

    </div>
    <label class="col-sm-2 col-md-2 col-form-label">Objednané množství:</label>
    <div class="col-sm-1 col-md-1">
        <span class="form-control bg-light">@(BO.BAS.Number2String(Model.p52UnitsCount))</span>

    </div>
    <div class="col-sm-1 col-md-1">
        <span class="form-control bg-light">@(BO.BAS.Number2String(Model.Recalc2Kg)) KG</span>

    </div>
</div>
<div class="form-row">
    <label class="col-sm-1 col-md-2 col-form-label">Položka objednávky:</label>
    <div class="col-sm-3 col-md-3">
        <span class="form-control bg-light">@(Model.p52Code)</span>

    </div>

</div>
