@model p26PreviewViewModel

@{
    ViewData["Title"] = "Stroj";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
    <h4>Stroj</h4>
    <div class="modal_record_container">
        
      
        <div class="btn-group">
            <a asp-action="Record" class="btn btn-light" asp-route-pid="@Model.Rec.pid" asp-route-entity="p26">Upravit</a>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Stroj:</label>
            <div class="col-sm-6 col-md-6">
                <input class="form-control" asp-for="Rec.p26Name" readonly="readonly" />

            </div>
            <div class="col-sm-5 col-md-4">
                <input class="form-control" asp-for="Rec.p26Code" readonly="readonly" />

            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.p28Name" readonly="readonly" />
            </div>

        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Stav:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b02Name" readonly="readonly" />
            </div>

        </div>



        @if (Model.Rec.p26Memo != null)
        {
            <hr />

            <pre>@Html.DisplayFor(m => m.Rec.p26Memo, new { @class = "form-control" });</pre>


        }


    </div>


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")

<h1>Prostor pro 1:N přehledy z plánování, výroby apod.</h1>


