@model p21PreviewViewModel

@{
    ViewData["Title"] = "Licence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="modal_record_container">

        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Licence:</label>
            <div class="col-sm-8 col-md-7">
                <input class="form-control" asp-for="Rec.p21Name" readonly="readonly" />

            </div>
            <div class="col-sm-3 col-md-3">
                <input class="form-control" asp-for="Rec.p21Code" readonly="readonly" />

            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Klient:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.p28Name" readonly="readonly" />
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Aktuální stav:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.b02Name" readonly="readonly" />
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Platnost od:</label>
            <div class="col-sm-2 col-md-2">
                <input asp-for="Rec.ValidFrom" class="form-control" readonly="readonly" />
            </div>
            <div class="col-sm-1 col-md-1">
                do:
            </div>
            <div class="col-sm-2 col-md-2">
                <input asp-for="Rec.ValidUntil" class="form-control" readonly="readonly" />
            </div>
        </div>


        @if (Model.Rec.p21Memo != null)
        {
            <hr />

            <pre>@Html.DisplayFor(m => m.Rec.p21Memo, new { @class = "form-control" });</pre>


        }


    </div>


@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")








