
body {
    font-size: 0.875rem;
    margin: 0;
}



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */



.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


@media only screen and (max-width: 1199px) {

    .modal_record_container {
        margin-left: 6px;
    }
}

@media screen and (min-width: 1200px) {

    .modal_record_container {
        max-width: 1000px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

.skryto {
    display: none;
}

tr.isclosed {
    text-decoration: line-through;
    /*background-color:slategray !important;
    color:white;
    */
}

.txz {
    cursor: default;
}

textarea {
    display: block;
    overflow: hidden;
    resize: none;
}


.inedit{
    background-color:yellow;
    border-color:blue;
   
}

input[type="checkbox"] {
    margin-right: 3px;
    margin-left:3px;
    cursor: pointer;
}

    input[type="checkbox"] + label {
        cursor: pointer;
    }


tr.selrow {
    background-color: #1B6EC2;
    color: white;
}