
html {
    font: 0.75rem/1.0 var(--font-family-sans-serif);
}

body{
    margin:0px;
}


@media only screen and (max-width: 1199px) {

    .modal_record_container {
        margin-left: 6px;
    }
}

@media screen and (min-width: 1200px) {

    .modal_record_container {
        max-width: 1000px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

.skryto {
    display: none;
}

tr.isclosed {
    text-decoration: line-through;
    /*background-color:slategray !important;
    color:white;
    */
}

.txz {
    cursor: default;
}

textarea {
    display: block;
    overflow: hidden;
    resize: none;
}


.inedit{
    background-color:yellow;
    border-color:blue;
   
}

input[type="checkbox"] {
    margin-right: 3px;
    margin-left:3px;
    cursor: pointer;
}

    input[type="checkbox"] + label {
        cursor: pointer;
    }


tr.selrow {
    background-color: #1B6EC2;
    color: white;
}