@model TheGridViewMode

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div style="height:600px;">

    @Html.DisplayFor(m => m.grid1, "~/Views/Shared/_MyGrid.cshtml")
</div>

