@model o51RecordViewModel

@{
    ViewData["Title"] = "Položka kategorie";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}
@addTagHelper *, UI


@using (Html.BeginForm())
{
<h4>Položka kategorie</h4>
@Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
@Html.HiddenFor(m => m.Rec.pid)

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.o51Name" />
            <span asp-validation-for="Rec.o51Name" class="text-danger"></span>
        </div>
    </div>






    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-1 col-md-2 col-form-label">Skupina:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="o53TagGroup" asp-for="Rec.o53ID" selectedtext="Rec.o53Name" view-flag="2"></mycombo>
        </div>
    </div>

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Pořadí v rámci skupiny:</label>
        <div class="col-sm-11 col-md-10">
            <mynumber asp-for="Rec.o51Ordinary" decimal-digits="0"></mynumber>
        </div>
    </div>


    <div class="form-row">
        <input asp-for="@Model.Rec.o51IsColor" />
        <label for="Rec_o51IsColor">Štítek má vlastní barvu?</label>
    </div>

    <table id="tabColor">
        <tr>
            <td>
                Barva písma:
            </td>
            <td>
                <input type="color" asp-for="Rec.o51ForeColor" />
            </td>
            <td>
                Barva pozadí:
            </td>
            <td>
                <input type="color" asp-for="Rec.o51BackColor" />
            </td>

        </tr>
    </table>


    <div class="form-row" style="display:none;">
        <label class="col-sm-1 col-md-2 col-form-label">Kód:</label>
        <div class="col-sm-4 col-md-4">
            <input class="form-control" asp-for="Rec.o51Code" />
            <span asp-validation-for="Rec.o51Code" class="text-danger"></span>
        </div>
    </div>


</div>
}

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    $(document).ready(function () {
        handle_barva();


        $("#Rec_o51IsColor").on("click", function () {
            handle_barva();
        });

    });

    


    function handle_barva() {
        if ($("#Rec_o51IsColor").prop("checked") == true) {
            $("#tabColor").css("display", "block");
            
           
        } else {
            $("#tabColor").css("display", "none");
            
        }
    }

</script>



