@model p31RecordViewModel

@{
    ViewData["Title"] = "Časový fond";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
}

@addTagHelper *, UI


<form id="form1" asp-controller="p31" asp-action="Record" method="POST">
    <h4>Časový fond</h4>

    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

   
<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.p31Name" />
            <span asp-validation-for="Rec.p31Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-2 col-md-3 col-form-label">První použitelná hodina v kalendáři:</label>
        <div class="col-sm-10 col-md-9">
            <select asp-for="Rec.p31DayHour1" class="form-control">
                <option value="0">00:00</option>
                <option value="1">01:00</option>
                <option value="2">02:00</option>
                <option value="3">03:00</option>
                <option value="4">04:00</option>
                <option value="5">05:00</option>
                <option value="6">06:00</option>
                <option value="7">07:00</option>
                <option value="8">08:00</option>
                <option value="9">09:00</option>
                <option value="10">10:00</option>
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>                
            </select>
        </div>
    </div>
    <div class="form-row" style="margin-top:10px;">
        <label class="col-sm-2 col-md-3 col-form-label">Poslední použitelná hodina v kalendáři:</label>
        <div class="col-sm-10 col-md-9">
            <select asp-for="Rec.p31DayHour2" class="form-control">
                <option value="11">11:00</option>
                <option value="12">12:00</option>
                <option value="13">13:00</option>
                <option value="14">14:00</option>
                <option value="15">15:00</option>
                <option value="16">16:00</option>
                <option value="17">17:00</option>
                <option value="18">18:00</option>
                <option value="19">19:00</option>
                <option value="20">20:00</option>
                <option value="21">21:00</option>
                <option value="22">22:00</option>
                <option value="23">23:00</option>

            </select>
        </div>
    </div>


    <hr />
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Vlastník záznamu:</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="j02Person" asp-for="Rec.j02ID_Owner" selectedtext="Rec.RecordOwner"></mycombo>
        </div>
    </div>



</div>

</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    
</script>

