@model p44RecordViewModel

@{
    ViewData["Title"] = "Operace z plánu výroby";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null || Model.RecP41 == null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="p44" asp-action="Record" method="POST">
    <h4>Plánovací operace v zakázce</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <input type="hidden" asp-for="Rec.p41ID" />

    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo řádku (row-num):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p44RowNum" decimal-digits="0"></mynumber>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo Oper:</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p44OperNum" decimal-digits="0"></mynumber>

            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Kód Oper:</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p18OperCode" asp-for="Rec.p18ID" param1="1" selectedtext="Rec.OperCodePlusName" event_after_changevalue="p18id_change"></mycombo>
            </div>
        </div>


        

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Surovina:</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p19Material" asp-for="Rec.p19ID" selectedtext="Rec.Material"></mycombo>
            </div>
        </div>

        

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Čas:</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p44TotalDurationOperMin" decimal-digits="0"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>

        

        
    </div>

</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function p18id_change(p18id) {

        $.post("/p13/load_p18_record", { p18id: p18id }, function (data) {


            var s = "";
            s = data.p18UnitsCount.toString().replace(".", ",");
            $("#Rec_p44UnitsCount").val(s);
            $("[for-id=Rec_p44UnitsCount]").val(s);

            var dur1 = data.p18DurationPreOper;           
            var dur2 = data.p18DurationOper;
            var dur3 = data.p18DurationPostOper;
            var dur = dur1 + dur2 + dur3;

          
            s = dur.toString().replace(".", ",");
           
            $("#p44TotalDurationOperMin").val(s);

            if (data.p19ID == 0) {
                $("#cmdComboRec_p19ID").text("");
                $("#Rec_p19ID").val("0");
                $("[data-id=text_Rec_p19ID]").val("");

            } else {
                $("#cmdComboRec_p19ID").text(data.p19Code + " - " + data.p19Name);
                $("#Rec_p19ID").val(data.p19ID);
                $("[data-id=text_Rec_p19ID]").val(data.p19Code + " - " + data.p19Name);
            }


        });
    }
</script>





