@model p14RecordViewModel

@{
    ViewData["Title"] = "Technologická operace";
    Layout = "~/Views/Shared/_LayoutModal.cshtml";
    if (Model.Rec == null || Model.RecP13==null) return;
}

@addTagHelper *, UI


<form id="form1" asp-controller="p14" asp-action="Record" method="POST">
    <h4>Technologická operace Master receptury</h4>
    @Html.EditorFor(m => m.Toolbar, "~/Views/Shared/_MyToolbar.cshtml")
    @Html.HiddenFor(m => m.Rec.pid)

    <input type="hidden" asp-for="Rec.p13ID" />

    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo řádku (row-num):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p14RowNum" decimal-digits="0"></mynumber>
            </div>
        </div>
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Číslo Oper:</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p14OperNum" decimal-digits="0"></mynumber>
                
            </div>
        </div>
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Kód Oper:</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p18OperCode" asp-for="Rec.p18ID" selectedtext="Rec.OperCodePlusName" param1="1" masterprefix="p25" masterpid="@Model.RecP13.p25ID" event_after_changevalue="p18id_change"></mycombo>
            </div>
        </div>
       
        
        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Parameter (oper-par):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p14OperParam" decimal-digits="0"></mynumber>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label">Surovina:</label>
            <div class="col-sm-9 col-md-8">
                <mycombo entity="p19Material" asp-for="Rec.p19ID" selectedtext="Rec.Material"></mycombo>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Množství kg (na 1t produktu):</label>
            <div class="col-sm-5 col-md-4">
                <mynumber asp-for="Rec.p14UnitsCount" decimal-digits="5"></mynumber>
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Před Oper. Čas:</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p14DurationPreOper" decimal-digits="0"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Oper. Čas (jednotkový):</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p14DurationOper" decimal-digits="3"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>

        <div class="form-row" style="margin-top:10px;">
            <label class="col-sm-1 col-md-2 col-form-label" title="RowNum">Po Oper. Čas:</label>
            <div class="col-sm-4 col-md-3">
                <mynumber asp-for="Rec.p14DurationPostOper" decimal-digits="0"></mynumber>
            </div>
            <div class="col-1">
                minuty
            </div>
        </div>
    </div>

</form>

@Html.DisplayFor(m => m.Rec, "~/Views/Shared/_MyTimestamp.cshtml")


<script type="text/javascript">
    function p18id_change(p18id) {

        $.post("/p13/load_p18_record", { p18id: p18id }, function (data) {

           
            var s = "";
            s = data.p18UnitsCount.toString().replace(".", ",");
            $("#Rec_p14UnitsCount").val(s);
            $("[for-id=Rec_p14UnitsCount]").val(s);
            
            s = data.p18DurationPreOper.toString().replace(".", ",");
            $("#Rec_p14DurationPreOper").val(s);
            $("[for-id=Rec_p14DurationPreOper]").val(s);

            s = data.p18DurationOper.toString().replace(".", ",");
            $("#Rec_p14DurationOper").val(s);
            $("[for-id=Rec_p14DurationOper]").val(s);

            s = data.p18DurationPostOper.toString().replace(".", ",");
            $("#Rec_p14DurationPostOper").val(s);
            $("[for-id=Rec_p14DurationPostOper]").val(s);
            
            if (data.p19ID == 0) {
                $("#cmdComboRec_p19ID").text("");
                $("#Rec_p19ID").val("0");
                $("[data-id=text_Rec_p19ID]").val("");

            } else {
                $("#cmdComboRec_p19ID").text(data.p19Code + " - " + data.p19Name);
                $("#Rec_p19ID").val(data.p19ID);
                $("[data-id=text_Rec_p19ID]").val(data.p19Code + " - " + data.p19Name);
            }
            

        });
    }
</script>



