@model UI.Models.j02gridViewModel

@{
    ViewData["Title"] = "Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grid</h1>



<div style="height:600px;">

    @Html.DisplayFor(m => m.grid1, "~/Views/Shared/_MyGrid.cshtml")
</div>


